/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
h1 {
    color: var(--color-primary);
    margin-bottom: 20px;
}

blockquote {
    font-style: italic;
    color: var(--color-primary);
    margin-bottom: 20px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid var(--color-primary);
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--color-primary);
    color: #fff;
}

/* Contenido */
p {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 8px;
}

/* Encabezados */
h2, h3, h4, h5 {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Referencias */
ul li a {
    color: var(--color-secondary);
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* Estilos para la sección de introducción */
.introduction {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.introduction h2 {
    color: var(--color-primary);
    border-bottom: none;
    padding-bottom: 0;
}

/* Estilos para los bloques de requisitos */
.requirements {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.requirements h3 {
    color: var(--color-primary);
    border-bottom: none;
    padding-bottom: 0;
}

/* Estilos para las citas en línea */
.inline-quote {
    font-style: italic;
    color: var(--color-secondary);
}

/* Estilos para los enlaces */
a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
