body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    background: #ffe4e1;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #ffe4e1;
    min-height: 100%;
    text-align: justify;
    padding-bottom: 10%;
    margin-bottom: 0;
}

nav ul {
    background: #9370DB;
    padding: 10px 20px;
    text-align: left;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
    font-weight: bold;
}

nav ul li a:hover {
    background: #8A2BE2;
}

header {
    background: #9370DB;
    color: white;
    padding: 20px 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

#personal-info-header header,
#projects-header header {
    margin-top: 10px;
}

#home-header,
#personal-info-header,
#projects-header {
    margin-bottom: auto;
}

#contact-info, #personal-info, #projects {
    text-align: center;
    padding: 20px;
    background: white;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgb(245, 115, 115);
}

#contact-info img, #personal-info img {
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    width: 200px;
    height: 200px;
}

#contact-info p, #personal-info p {
    margin: 10px 0;
    font-size: 1.1em;
}

#projects {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
}

.project {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.project h3 {
    margin-bottom: 10px;
    color: #6A0DAD;
}

.project p {
    margin: 0;
    font-size: 1em;
    color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background: #9370DB;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
}
